<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broker.dao.BlotterDao">
	<resultMap id="BlotterList" type="com.broker.entity.BlotterEntry">
		<id column="tradeID" property="tradeID" jdbcType="INTEGER" />
		<result column="broker" property="broker" jdbcType="VARCHAR" />
		<result column="product" property="product" jdbcType="VARCHAR" />
		<result column="period" property="period" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="quantity" property="quantity" jdbcType="INTEGER" />
		<result column="initiatorTrader" property="initiatorTrader"
			jdbcType="VARCHAR" />
		<result column="initiatorCompany" property="initiatorCompany"
			jdbcType="VARCHAR" />
		<result column="initiatorSide" property="initiatorSide"
			jdbcType="INTEGER" />
		<result column="completionTrader" property="completionTrader"
			jdbcType="VARCHAR" />
		<result column="completionCompany" property="completionCompany"
			jdbcType="VARCHAR" />
		<result column="completionSide" property="completionSide"
			jdbcType="INTEGER" />
		<result column="dealTime" property="dealTime" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		tradeID, broker, product, period, price, quantity,
		initiatorTrader, initiatorCompany, initiatorSide,
		completionTrader,
		completionCompany, completionSide, dealTime
	</sql>
	<insert id="addBlotterEntry" parameterType="com.broker.entity.BlotterEntry">
		insert into
		orderBlotter (tradeID, broker, product, period, price,
		quantity,
		initiatorTrader, initiatorCompany, initiatorSide,
		completionTrader,
		completionCompany,
		completionSide, dealTime)
		values
		(#{tradeID,jdbcType=INTEGER}, #{broker,jdbcType=VARCHAR},
		#{product,jdbcType=VARCHAR},
		#{period,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{quantity,jdbcType=INTEGER},
		#{initiatorTrader,jdbcType=VARCHAR},
		#{initiatorCompany,jdbcType=VARCHAR},
		#{initiatorSide,jdbcType=INTEGER},
		#{completionTrader,jdbcType=VARCHAR},
		#{completionCompany,jdbcType=VARCHAR},
		#{completionSide,jdbcType=INTEGER}, #{dealTime,jdbcType=VARCHAR})
	</insert>

	<select id="getBlotterByTrader" resultMap="BlotterList" parameterType="String">
		select * from orderBlotter
		<if test="trader != null" >
		where completionTrader = #{trader, jdbcType=VARCHAR} or initiatorTrader = #{trader, jdbcType=VARCHAR}
		</if>
	</select>
</mapper>
