<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        ">

	<!-- 自动扫描 -->
	<context:component-scan base-package="com.trader" />
	
	<bean id="userDAO" class="com.trader.daoImpl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userService" class="com.trader.serviceImpl.UserServiceImpl">
		<property name="userDao" ref="userDAO"></property>
	</bean>

	<bean id="orderDAO" class="com.trader.daoImpl.OrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="orderService" class="com.trader.serviceImpl.OrderServiceImpl">
		<property name="orderDao" ref="orderDAO"></property>
	</bean>
	
	<bean id="blotterDAO" class="com.trader.daoImpl.BlotterDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="blotterService" class="com.trader.serviceImpl.BlotterServiceImpl">
		<property name="blotterDao" ref="blotterDAO"></property>
	</bean>

	<bean id="msgService" class="com.trader.serviceImpl.MessagingServiceImpl"></bean>
	<bean id="httpClientUtil" class="com.trader.utils.httpClient.HttpClientUtil"></bean>
	
	<bean id="redisService" class="com.trader.serviceImpl.RedisServiceImpl"></bean>
	<bean id="redisClient" class="com.trader.utils.jedis.RedisClient"></bean>
</beans>